@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900&display=swap');

body, html {
  height: 100%;
  margin: 0;
  font-family: 'poppins',sans-serif;
  box-sizing: border-box;
}

    article {
        background-image: url(../Mercury/AssetsMercury/heroContained.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;

      }
      
      section {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
        color: white;
      }

